body {
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 200% 200%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  background-blend-mode: multiply;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.inner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-family: 'Space Mono',sans-serif;
  text-align: left;
}

.inner-text #msg {
  font-size: 30px;
  text-align: center;
}

.inner-text #date {
  font-size: 35px;
  text-align: center;
}

.inner-text #time {
  font-size: 100px;
  text-align: center;
}

.inner-text .gt {
  display: inline-block;
  font-weight: 900;
  font-size: 80px;
  margin: 0;
  line-height: 1;
}

.pop-container {
  text-align: center;
  padding: 3em;
  width: 100%;
  margin: 0 auto;
  font-family: "monospace", sans-serif;
}

.pop-container .btn {
  padding: 14px 16px;
  text-decoration: none;
  background: #222;
  color: #FFF;
  border-radius: 10px;
}
.clock-face {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px;
  width: 400px;
  opacity: .3;
  border: 3px solid #fff;
  border-radius: 50%;
}

.hour-hand {
  position: absolute;
  height: 80px;
  width: 8px;
  margin: auto;
  top: -20%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background-color: #507D9C;
  transform-origin: bottom;
  transform: rotate(0deg);
}

.min-hand {
  position: absolute;
  height: 120px;
  width: 8px;
  margin: auto;
  top: -30%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background-color: #507D9C;
  transform-origin: bottom;
  transform: rotate(90deg);
}

.second-hand {
  position: absolute;
  height: 120px;
  width: 2px;
  margin: auto;
  top: -30%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background-color: #507D9C;
  transform-origin: bottom;
  transform: rotate(180deg);
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


