@font-face {
  font-family: Poppins-Bold;
  src: url(../font-family/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url(../font-family/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../font-family/Poppins-Regular.ttf);
}

* {
  font-family: 'Poppins-Regular', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
    url(../img/bg/bg-5.jpg);
  height: 100vh;
  width: 100%;
  color: #fff;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

button:focus {
  outline: none !important;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.moment {
  width: auto;
}

.inner-text {
  font-family: 'Poppins', sans-serif;
  width: 500px;
  background: rgba(0, 0, 0, .7);
  padding: 1rem;

}

.inner-text p {
  margin: 10px 0;
}

.inner-text span {
  letter-spacing: 6px;
}

.inner-text #time,
.inner-text #today,
.inner-text #date,
.inner-text #month,
.inner-text #year {
  font-size: 50px;
  font-family: 'Poppins-Regular', sans-serif;
  opacity: 0.7;
}

.inner-text #time {
  opacity: 1;
}

.inner-text #date {
  padding-left: 8px;
}

.inner-text #month:after,
.inner-text #today:after {
  content: ", ";
}

.pop-container {
  text-align: center;
  padding: 3em;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.pop-container h1 {
  font-size: 16px;
}

.pop-container .btn {
  padding: 14px 16px;
  text-decoration: none;
  background: #222;
  color: #FFF;
  border-radius: 10px;
}