body {
        height: 100vh;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.75);
        background-blend-mode: multiply;
        height: 100vh;
        width: 100%;
        color: #fff;
}

.inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
    font-family: 'Space Mono',sans-serif;
    text-align: left;
        #msg {
            font-size: 30px;
            text-align: center;
        }
        #date {
            font-size: 35px;
            text-align: center;
        }

        #time {
            font-size: 100px;
            text-align: center;
        }



.gt {
    display: inline-block;
    font-weight: 900;
      font-size: 80px;
    margin: 0;
    line-height: 1;

}


}


.pop-container {
    text-align: center;
    padding: 3em;
    width: 100%;
    margin: 0 auto;
    font-family: "monospace", sans-serif;

    .btn {
        padding: 14px 16px;
        text-decoration: none;
        background: #222;
        color: #FFF;
        border-radius: 10px;
    }

}
