<!DOCTYPE html>
<html>

<head>
    <title>New tab</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/ico" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <section class="wrapper">
        <div class="moment">
            <div class="inner-text">
                <div id="digital-clock">
                    <p id="time"></p>
                    <div>
                        <span id="today"></span>
                        <span id="date"></span>
                    </div>
                    <div>
                        <span id="month"></span>
                        <span id="year"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="todo-wrapper">
            <div>
                <div class="app" id="app">
                    <h1>Take Short Note...</h1>
                    <p class="todo-error" v-show="errors.length">
                        <span v-for="error in errors"> {{ error }} </span>
                    </p>
                    <form class="form" v-on:submit="addTodo">
                        <input class="input form__input" v-model="inputVal" placeholder="What are you doing today?" />
                        <button class="btn form__submit-btn" type="submit"><i class="fa fa-plus"></i></button>
                    </form>
                    <transition-group tag="ol" name="list" class="todo-list">
                        <li class="todo-list__item" v-bind:class="{ complete: todo.complete }" v-bind:key="index" v-for="(todo, index) in filteredTodos">
                            <button class="todo-list__item-content" v-on:click="toggleTodo(todo)">
                                {{ todo.text }}
                            </button>
                            <button class="btn todo-list__item-remove" v-on:click="deleteTodo(index)">
                                <i class="fa" v-bind:class="[todo.complete ? 'fa-check' : 'fa-times']"></i>
                            </button>
                        </li>
                    </transition-group>
                    <div class="filters">
                        <button class="btn filters__btn filters__btn--all" v-on:click="filterTodos('all')">
                            All
                        </button>
                        <button class="btn filters__btn filters__btn--complete" v-on:click="filterTodos('complete')">
                            Complete
                        </button>
                        <button class="btn filters__btn filters__btn--incomplete" v-on:click="filterTodos('incomplete')">
                            Incomplete
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="note-list"></div>
    </section>
    <script type="text/javascript" src="./js/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>